html{
    background-color:bisque;
    font-size:large;
    color:coral;
}
.art324{
    color:crimson;
    font-size:xx-large;
    font-family: "Arimo", sans-serif; 
}
.art324-2{
     color:crimson;
    font-size:x-large;
    font-family: "Arimo", sans-serif; 
}
.figma{
    line-height:0%;
}
.info{
    text-align: right;
}